@model TropicalServerApp.Models.Customer
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TropicalServer</title>
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/TropicalStyles/Products.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="page">
    <div id="container" class="container">
        <div>
            @Html.Partial("_Banner")
            <nav style="background-color:#FBB917; border:none" class="navbar navbar-default">
                <div style="background-color:#FBB917" class="container-fluid">
                    <div id="menuItem">
                        <ul class="nav navbar-nav">
                            <span>
                            <li>@Html.ActionLink("Orders", "Orders", "Product")</li>
                            <li>@Html.ActionLink("Product", "Product", "Product", null, new { id = "active" })</li>
                            </span>
                            <li id="logout">@Html.ActionLink("Logout", "Logout", "Login")</li>
                        </ul>
                    </div>
                </div>
            </nav>


        </div>
    </div>
</body>
</html>
